body
{
    margin: 0px 0px 0px 0px;
    transition: 0.25s all;
    color: #e19190;
    font-family: 'Philosopher';
}
#davay
{
    width: 15vw;
    height: 15vh;
    max-width: 25vw;
    max-height: 25vh;
}
section
{
    background-color: ;
    box-sizing: border-box;
    height: 100vh;
    background-color: #22211f;
    border-radius: 10vw;
    padding: 1vw 30vw 1vw 10vw;
    max-height: 100vh;
    margin-top: 2vw;
    margin-bottom: 2vw;
    display: flex;
    position: relative;
}
html {
    scroll-behavior: smooth;
  }
header
{
    box-sizing: border-box;
    height: 50vh;
    background-color: #22211f;
    text-align: center;
    border-radius: 10vw;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 10vh;
    margin-bottom: 3vh;
}
nav
{
    box-sizing: border-box;
    height: 50vh;
    background-color: #22211f;
    font-size: 2em;
    border-radius: 10vw;
    padding-top: 3vh;
}
#sec1, #sec2, #sec3, #sec4, #sec5
{
    display: flex;
}
p, h1
{
    font-size: 2em;
}
#zn
{
    position: absolute;
    left: 15vw;
}
#voz
{
    position: absolute;
    left: 30vw;
    top: 80vh;
}
#lz
{
    position: absolute;
    left: 45vw;
}
#sv
{
    position: absolute;
    left: 60vw;
    top: 80vh;
}
#gal
{
    position: absolute;
    left: 75vw;
}
#main
{
    font-size: 2em;
    position: absolute;
    bottom: 1vh;
    right: 25vh;
}
#roma1, #roma2, #roma3, #roma4, #roma5, #roma6, #roma7
{
    border-radius: 3vh;
    height: 55vh;
}
#roma1:hover, #roma2:hover, #roma3:hover, #roma4:hover, #roma5:hover, #roma6:hover, #roma7:hover
{
    flex: 2;
}
#roma5, #roma6, #roma7
{
    width: 15vw;
    margin-left: 2vw;
    margin-right: 2vw;
    height: 60vh;
}
#heading1
{
    font-size: 4em;
    font-weight: 700;
}